<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaizen It Ltd</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=News+Cycle&family=Nunito:wght@200;300;400;500;700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <!--Main Navigation-->
    <header>
      <!-- nvabar for mobiles  -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
        <div class="container-fluid">
          <img src="assets/images/kaizen-logo.png" alt="logo" style="text-align: center; height: 50px;">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-align-justify"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item px-1">
                  <a href="" class="nav-link active"><i class="fa-solid fa-house-chimney fa-fw"></i> Home</a>
              </li>
              <li class="nav-item py-1">
                <a href="" class="nav-link"><i class="fa-brands fa-servicestack"></i> Our Services</a>
              </li>
              <li class="nav-item py-1">
                <a href="" class="nav-link"><i class="fa-solid fa-chalkboard"></i> Courses</a>
              </li>
              <li class="nav-item py-1">
                <a href="" class="nav-link"><i class="fa-solid fa-chalkboard"></i> Free Courses</a>
              </li>
              <li class="nav-item py-1">
                <a href="" class="nav-link"><i class="fa-solid fa-blog"></i> News</a>
              </li>
              <li class="nav-item py-1">
                <a href="" class="nav-link"><i class="fa-solid fa-tag"></i> Pricing</a>
              </li>
              <li class="nav-item py-1">
                <a href="" class="nav-link"><i class="fa-solid fa-address-card"></i> About</a>
              </li>
              <li class="nav-item py-1">
                <a href="" class="nav-link"><i class="fa-solid fa-phone"></i> Contact</a>
              </li>
              <li class="nav-item py-1">
                <a href="" class="nav-link"><i class="fa-solid fa-user"></i> Login/Register</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
        <!-- Sidebar -->
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse">
            <img src="assets/images/kaizen-logo.png" alt="logo" style="text-align: center; width: 100%; height: 200px;">
            <div class="position-sticky">
              <div class="list-group list-group-flush mx-3 ">
                <ul id="collapseExample1" class="collapse show list-group list-group-flush">
                  <!-- <li class="list-group-item py-1">
                      <a href="index.html"><i class="fa-solid fa-house-chimney fa-fw me-3"></i> Home</a>
                  </li> -->
                  <li class="list-group-item py-1">
                    <a href="index.html" class=""><i class="fa-solid fa-house-chimney fa-fw me-3"></i> Home</a>
                  </li>
                  <li class="list-group-item py-1">
                    <a href="/services.html" class=""><i class="fa-brands fa-servicestack"></i> Services</a>
                  </li>
                  <li class="list-group-item py-1">
                    <a href="/courses.html" class=""><i class="fa-solid fa-chalkboard"></i> Courses</a>
                  </li>
                  <li class="list-group-item py-1">
                    <a href="/freecourses.html" class=""><i class="fa-solid fa-chalkboard"></i> Free Courses</a>
                  </li>
                  <li class="list-group-item py-1">
                    <a href="/news.html" class=""><i class="fa-solid fa-blog"></i> News</a>
                  </li>
                  <li class="list-group-item py-1">
                    <a href="/pricing.html" class=""><i class="fa-solid fa-tag"></i> Pricing</a>
                  </li>
                  <li class="list-group-item py-1 active">
                    <a href="/about.html" class=""><i class="fa-solid fa-address-card"></i> About</a>
                  </li>
                  <li class="list-group-item py-1">
                    <a href="/contact.html" class=""><i class="fa-solid fa-phone"></i> Contact</a>
                  </li>
                  <li class="list-group-item py-1">
                    <a href="/login.html" class=""><i class="fa-solid fa-user"></i> Login/Register</a>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </nav>
        <!-- Sidebar -->
      </header>
      <!--Main Navigation-->

      <!-- Mainlayout -->
      <main>
          <section id="about-us">
              <div class="container">
                <div class="jumbotron">
                    <h2 class="about-content"> KAIZEN IT LTD.  </h2>
                    <h3 class="about-content-h">Outsource Web & App Development in World-wide.</h3>
                    <p class="about-content-p">Get High Quality Education and High Quality Services</p>
                  </div>
                    <h2 class="about-us-head text-dark mt-1"> About Us </h2>
                    <div class="row courses mb-5">
                      <div class="col-md-6">
                        <h3 class="about-kaizen">About Kaizen It LTD</h3>
                        <p class="about-kaizen-content">
                          Company <a href="/index.html">Kaizen It Ltd</a> is a leading software development business
                           that is based in panthapath, Dhanmondi, Dhaka. 
                           \We are in business to develop software for general 
                           purposes and for specific purposes to our various clients. 
                           We have in place training services and we also offer technical 
                           support in line with our business. Our location is very strategic
                            in the sense that we are close to manufacturing firms as well as 
                            technology giants and other big businesses here in Dhaka that 
                            will ensure that we have an edge over other software companies 
                            in other parts of Dhanmondi. We are in business to not only make 
                            profit but to also compete favorably against other software development 
                            companies in the industry and attain our vision of being the preferred 
                            software development company for clients all over the Dhaka. 
                            We intend to ensure that we demonstrate fair business ethics 
                            in every point of our business. We hold ourselves accountable 
                            for our high standards and ensure that all our employees are not 
                            only attuned to but display this standard at all times in order to p
                            ositively promote the company.
                        </p>
                        
                        <h3 class="about-kaizen">How Kaizen It LTD Started</h3>
                        <img src="/assets/images/services/founder.jpeg" alt="" class="founder-kaizen">
                        <p class="about-kaizen-content">
                          The Founder Of Kaizen It LTD
                          <a href="/index.html">Engr. Abul Kalam Azad </a> has completed his Bsc. in Textile Engineering from BUTEX. 
                          He Has 25+ years of industry experience in Garments and T
                          extile Industry development, project management, business operations. 
                          He is the owner of 'Versatile Textiles Ltd.'.
                           He is a data science enthusiast and keeps himself updated with technologies 
                           like Blockchain, IoT etc. 
                          His speciality is presenting complex concepts in easy to digest manner.
                        </p>

                        <h4 class="about-kaizen">At Kaizen It LTD, Our Services are:</h4>
                        <p class="text-primary" style="margin-top: 10px;">Top-Notch</p>
                        <p class="about-kaizen-content">
                          With a lot of 5-star positive reviews received from customers, 
                          we’ve been able to gain ground globally. There is no reason for 
                          this other than the quality of our services. We strive so hard 
                          to ensure that the results of created web & apps are top-notch before 
                          handing them back to the clients. We are featured in many ways.
                        </p>

                        <p class="text-primary">Quick</p>
                        <p class="about-kaizen-content">
                          While making sure that we turn in a top-quality Web & Apps,
                          We are often conscious of time. Kaizen It LTD 
                          is filled with expert Developers who find Php, Laravel handy- 
                          they can easily navigate their way around the software generating 
                          several high-quality Websites & Appss in minutes.
                        </p>

                        <p class="text-primary">Affordable</p>
                        <p class="about-kaizen-content">
                          With Kaizen It LTD, you don't 
                          have to break your bank while requesting our service. 
                          We offer the lowest quote globally- so finding a company 
                          that will best us on this is never a walk in the park. 
                          What payment method do you use? Our company accepts 
                          multiple payment methods including PayPal,
                          Master Card, Bank transfer, and several others. 
                          We are using Stripe & 2checkout as payment gateway to our website.
                        </p>

                        <img src="assets/images/services/Payment-method.webp" alt="" class="payment-image">
                        
                      </div>
                      <div class="col-md-6">
                        <p class="text-primary fs-4">Why Choose Us?</p>
                        <div class="row">
                          <div class="col-md-2">
                            <i class="fa fa-check text-center"><hr style="width: 50px;"></i>
                          </div>
                          <div class="col-md-10">
                            <p class="fs-5">We work all over the world.</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-2">
                            <i class="fa fa-check text-center"><hr style="width: 50px;"></i>
                          </div>
                          <div class="col-md-10">
                            <p class="fs-5">100% Customers Satisfactions.</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-2">
                            <i class="fa fa-check text-center"><hr style="width: 50px;"></i>
                          </div>
                          <div class="col-md-10">
                            <p class="fs-5">Money Refund Guaranteed.</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-2">
                            <i class="fa fa-check text-center"><hr style="width: 50px;"></i>
                          </div>
                          <div class="col-md-10">
                            <p class="fs-5">24 hours Express Delivery.</p>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-2">
                            <i class="fa fa-check text-center"><hr style="width: 50px;"></i>
                          </div>
                          <div class="col-md-10">
                            <p class="fs-5">We are available 24 hours .</p>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-2">
                            <i class="fa fa-check text-center"><hr style="width: 50px;"></i>
                          </div>
                          <div class="col-md-10">
                            <p class="fs-5">We provide an affordable prices.</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-2">
                            <i class="fa fa-check text-center"><hr style="width: 50px;"></i>
                          </div>
                          <div class="col-md-10">
                            <p class="fs-5">We have engaged highly professional employees.</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-2">
                            <i class="fa fa-check text-center"><hr style="width: 50px;"></i>
                          </div>
                          <div class="col-md-10">
                            <p class="fs-5">We are dedicated team to ensure the quality and Secuirity of Websites & Apps.</p>
                          </div>
                        </div>

                        <!-- services  -->
                        <p class="text-primary fs-4">Our Services</p>
                        <div class="row">
                          <div class="col-md-2">
                            <i class="fa fa-check text-center"><hr style="width: 50px;"></i>
                          </div>
                          <div class="col-md-10">
                            <p class="fs-5">We Design & Develop websites.</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-2">
                            <i class="fa fa-check text-center"><hr style="width: 50px;"></i>
                          </div>
                          <div class="col-md-10">
                            <p class="fs-5">100% Secuired Websites.</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-2">
                            <i class="fa fa-check text-center"><hr style="width: 50px;"></i>
                          </div>
                          <div class="col-md-10">
                            <p class="fs-5">We Develop Web Apps.</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-2">
                            <i class="fa fa-check text-center"><hr style="width: 50px;"></i>
                          </div>
                          <div class="col-md-10">
                            <p class="fs-5">We develop mobile Applications.</p>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-2">
                            <i class="fa fa-check text-center"><hr style="width: 50px;"></i>
                          </div>
                          <div class="col-md-10">
                            <p class="fs-5">Mobile Apps Andriod & Ios.</p>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-2">
                            <i class="fa fa-check text-center"><hr style="width: 50px;"></i>
                          </div>
                          <div class="col-md-10">
                            <p class="fs-5">We Made Graphics Logo etc..</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-2">
                            <i class="fa fa-check text-center"><hr style="width: 50px;"></i>
                          </div>
                          <div class="col-md-10">
                            <p class="fs-5">We made your business more developed</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-2">
                            <i class="fa fa-check text-center"><hr style="width: 50px;"></i>
                          </div>
                          <div class="col-md-10">
                            <p class="fs-5">We made marketing Your Bussiness in social media</p>
                          </div>
                        </div>

                        <!-- traning part  -->
                        <p class="text-primary fs-4">Our Training</p>
                        <div class="row">
                          <div class="col-md-2">
                            <i class="fa fa-check text-center"><hr style="width: 50px;"></i>
                          </div>
                          <div class="col-md-10">
                            <p class="fs-5">Web Design in 2 Months</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-2">
                            <i class="fa fa-check text-center"><hr style="width: 50px;"></i>
                          </div>
                          <div class="col-md-10">
                            <p class="fs-5">Web development using PHP,Laravel</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-2">
                            <i class="fa fa-check text-center"><hr style="width: 50px;"></i>
                          </div>
                          <div class="col-md-10">
                            <p class="fs-5">Graphic Design</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-2">
                            <i class="fa fa-check text-center"><hr style="width: 50px;"></i>
                          </div>
                          <div class="col-md-10">
                            <p class="fs-5">Cyber Secuirity & Ethical Hacking</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-2">
                            <i class="fa fa-check text-center"><hr style="width: 50px;"></i>
                          </div>
                          <div class="col-md-10">
                            <p class="fs-5">Software Testing Using Selenium</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-2">
                            <i class="fa fa-check text-center"><hr style="width: 50px;"></i>
                          </div>
                          <div class="col-md-10">
                            <p class="fs-5">MicroTik & ISP support</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-2">
                            <i class="fa fa-check text-center"><hr style="width: 50px;"></i>
                          </div>
                          <div class="col-md-10">
                            <p class="fs-5">Digital Marketing</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-2">
                            <i class="fa fa-check text-center"><hr style="width: 50px;"></i>
                          </div>
                          <div class="col-md-10">
                            <p class="fs-5">Advanced Excel</p>
                          </div>
                        </div>
                        <p class="text-primary fs-4">Trust Us Kaizen It LTD will Provide Everything You need</p>
                        <a href="/index.html">
                          <img src="assets/images/kaizen-logo.png" alt="" class="kaizen-about-image">
                        </a>
                        
                      </div>
                    </div>
                </div>

              </div>
          </section>
          
          <section id="about-company">
            <div class="container">
              <div class="row">
                <div class="col-md-3">
                  <h5>100+</h5>
                  <p>Good at Employees .</p>
                  <hr>
                </div>
                <div class="col-md-3">
                  <h5>24</h5>
                  <p>Hours Open .</p>
                  <hr>
                </div>
                <div class="col-md-3">
                  <h5>3</h5>
                  <p>Shift Work.</p>
                  <hr>
                </div>
                <div class="col-md-3">
                  <h5>7</h5>
                  <p>Years Of Exprience.</p>
                  <hr>
                </div>
              </div>
            </div>
          </section>

          <!-- featured image  -->
   <footer>
    <section id="">
      <div class="featured-image text-center">
        <p class="featured-image-p">We are featured on:</p>
        <img src="assets/images/services/Featured-logo.webp" alt="" class="featured-img">
      </div>
    </section>

    <!-- End featured image  -->
      <section id="links">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <p class="links-p">Our Services</p>
              <div class="list-group">
                <a href="#" class="mb-1">Clipping Path Service</a>
                <a href="#" class="mb-1">Multi Clipping Path Service</a>
                <a href="#" class="mb-1">Background Removal Service</a>
                <a href="#" class="mb-1">Color Correction service</a>
                <a href="#" class="mb-1">Image Masking Service</a>
                <a href="#" class="mb-1">Ghost Mannequin Service</a>
                <a href="#" class="mb-1">Photo Retouching Service</a>
                <a href="#" class="mb-1">Drop Shadow Service</a>
                <a href="#" class="mb-1">Car Image Editing</a>
                <a href="#" class="mb-1">E-commerce Photo Editing</a>
                <a href="#" class="mb-1">Banner Design</a>
                <a href="#" class="mb-1">Business Card Design</a>
                <a href="#" class="mb-1">Vector Conversion Service</a>
                <a href="#" class="mb-1">Jewelry Photo Editing Services</a>
              </div>
            </div>

            <div class="col-md-4">
              <p class="links-p">Useful Links</p>
              <div class="list-group">
                <a href="#" class="mb-1">About Us</a>
                <a href="#" class="mb-1">Contact Us</a>
                <a href="#" class="mb-1">My Account</a>
                <a href="#" class="mb-1">File Uploads</a>
                <a href="#" class="mb-1">Faqs</a>
                <a href="#" class="mb-1">Privacy Policy</a>
                <a href="#" class="mb-1">Terms and Conditions</a>
                <a href="#" class="mb-1">Affiliate Disclosure</a>
                <a href="#" class="mb-1">Write For Us</a>
                <a href="#" class="mb-1">Clipping Path Creative Reviews</a>
                <img src="assets/images/services/stripe-badge-white.webp" alt="">
              </div>
            </div>

            <div class="col-md-4">
              <p class="links-p">Recent posts</p>
              <div class="list-group list-group-2">
                <a href="#" class="mb-1">Amazon Product Photography Tips Basic to Advanced
                  <hr>
                  <i class="fa-solid fa-clock text-primary"></i> <span class="text-primary">March 2, 2022</span>
                </a>
                <a href="#" class="mb-1">What is Corporate photography?
                  <hr>
                  <i class="fa-solid fa-clock text-primary"></i> <span class="text-primary">March 2, 2022</span>
                </a>
                <a href="#" class="mb-1">Most Beautiful Places To Take Photographs in Dubai
                  <hr>
                  <i class="fa-solid fa-clock text-primary"></i> <span class="text-primary">March 2, 2022</span>
                </a>
                <a href="#" class="mb-1">Top 6 Wedding Photography Themes For WordPress 2021
                  <hr>
                  <i class="fa-solid fa-clock text-primary"></i> <span class="text-primary">March 2, 2022</span>
                </a>
                <a href="#" class="mb-1">How To Capture Eye-Catching Corporate Shots
                  <hr>
                  <i class="fa-solid fa-clock text-primary"></i> <span class="text-primary">March 2, 2022</span>
                </a>
                <a href="#" class="mb-1">Outdoor Flash Photography Tips with Pets
                  <hr>
                  <i class="fa-solid fa-clock text-primary"></i> <span class="text-primary">March 2, 2022</span>
                </a>
                <a href="#" class="mb-1">Photo Editing Tips for Shutterbugs to Make their Photographs Stunning
                  <hr>
                  <i class="fa-solid fa-clock text-primary"></i> <span class="text-primary">March 2, 2022</span>
                </a>
                
              </div>
            </div>
          </div>
          <hr style="height: 1px; background:grey;">
          <p class="text-center text-light" style="font-size: 20px;">&copy; 2022 All Right Reserved by <a href="#" class="text-primary"> Kaizen It LTD. </a></p>
          <p class="text-center text-light" style="font-size: 20px;">Company Registration: 13897274. To verify please <a href="#" class="text-primary"> Click here. </a></p>
          <div class="template-demo text-center">
            <button type="button" class="btn btn-social-icon btn-rounded"><i class="fa-brands fa-facebook"></i></button>
            <button type="button" class="btn btn-social-icon btn-rounded"><i class="fa-brands fa-youtube"></i></button>                                        
            <button type="button" class="btn btn-social-icon btn-rounded"><i class="fa-brands fa-twitter"></i></button>
            <button type="button" class="btn btn-social-icon btn-rounded"><i class="fa-brands fa-dribbble"></i></button>
            <button type="button" class="btn btn-social-icon btn-rounded"><i class="fa-brands fa-linkedin"></i></button>
            <button type="button" class="btn btn-social-icon btn-rounded"><i class="fa-brands fa-instagram"></i></button>
          </div>
          <a href="#about-us" class="position-fixed bottom-0 end-0 text-warning p-5 scroll">
            <i class="fa-solid fa-chevron-up"></i>
        </a>
        </div>

      </section>
   </footer>
      </main>
  
  <!--Main layout-->


  
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
   <script>
      $(document).ready(function(){
         var scrollLink = $(".scroll");
 
         scrollLink.click(function(e){
             e.preventDefault();
             $("body, html").animate({
                 scrollTop: $(this.hash).offset().top
             },2000)
         });
     });
 </script>
 </body>
 </html>