<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaizen It Ltd</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=News+Cycle&family=Nunito:wght@200;300;400;500;700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <!--Main Navigation-->
    <header>
      <!-- nvabar for mobiles  -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
        <div class="container-fluid">
          <img src="assets/images/kaizen-logo.png" alt="logo" style="text-align: center; height: 50px;">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-align-justify"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item px-1">
                  <a href="" class="nav-link active"><i class="fa-solid fa-house-chimney fa-fw"></i> Home</a>
              </li>
              <li class="nav-item py-1">
                <a href="" class="nav-link"><i class="fa-brands fa-servicestack"></i> Our Services</a>
              </li>
              <li class="nav-item py-1">
                <a href="" class="nav-link"><i class="fa-solid fa-chalkboard"></i> Courses</a>
              </li>
              <li class="nav-item py-1">
                <a href="" class="nav-link"><i class="fa-solid fa-chalkboard"></i> Free Courses</a>
              </li>
              <li class="nav-item py-1">
                <a href="" class="nav-link"><i class="fa-solid fa-blog"></i> Blog</a>
              </li>
              <li class="nav-item py-1">
                <a href="" class="nav-link"><i class="fa-solid fa-tag"></i> Pricing</a>
              </li>
              <li class="nav-item py-1">
                <a href="" class="nav-link"><i class="fa-solid fa-address-card"></i> About</a>
              </li>
              <li class="nav-item py-1">
                <a href="" class="nav-link"><i class="fa-solid fa-phone"></i> Contact</a>
              </li>
              <li class="nav-item py-1">
                <a href="" class="nav-link"><i class="fa-solid fa-user"></i> Login/Register</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
        <!-- Sidebar -->
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse">
            <img src="assets/images/kaizen-logo.png" alt="logo" style="text-align: center; width: 100%; height: 200px;">
            <div class="position-sticky">
              <div class="list-group list-group-flush mx-3 ">
                <ul id="collapseExample1" class="collapse show list-group list-group-flush">
                  <!-- <li class="list-group-item py-1">
                      <a href="index.html"><i class="fa-solid fa-house-chimney fa-fw me-3"></i> Home</a>
                  </li> -->
                  <li class="list-group-item py-1">
                    <a href="index.html" class=""><i class="fa-solid fa-house-chimney fa-fw me-3"></i> Home</a>
                  </li>
                  <li class="list-group-item py-1 active">
                    <a href="/services.html" class=""><i class="fa-brands fa-servicestack"></i> Services</a>
                  </li>
                  <li class="list-group-item py-1">
                    <a href="/courses.html" class=""><i class="fa-solid fa-chalkboard"></i> Courses</a>
                  </li>
                  <li class="list-group-item py-1">
                    <a href="freecourses.html" class=""><i class="fa-solid fa-chalkboard"></i> Free Courses</a>
                  </li>
                  <li class="list-group-item py-1">
                    <a href="/news.html" class=""><i class="fa-solid fa-blog"></i> News</a>
                  </li>
                  <li class="list-group-item py-1">
                    <a href="/pricing.html" class=""><i class="fa-solid fa-tag"></i> Pricing</a>
                  </li>
                  <li class="list-group-item py-1">
                    <a href="/about.html" class=""><i class="fa-solid fa-address-card"></i> About</a>
                  </li>
                  <li class="list-group-item py-1">
                    <a href="contact.html" class=""><i class="fa-solid fa-phone"></i> Contact</a>
                  </li>
                  <li class="list-group-item py-1">
                    <a href="/login.html" class=""><i class="fa-solid fa-user"></i> Login/Register</a>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </nav>
        <!-- Sidebar -->
      </header>
      <!--Main Navigation-->

      <!-- Mainlayout -->
      <main>
          <section id="header-services">
              <div class="container">
                  <div class="jumbotron">
                     <h1 class="jumbotron-content"> Our Services </h1>
                  </div>

                    <h2 class="software-web-h text-dark mt-1"> Softwares Mobile Apps & Website </h2>
                    <div class="row courses mb-5">
                      <div class="col-md-4 mt-5">
                        <div class="card bg-dark" style="width: 18rem;">
                            <img src="assets/images/services/web.jpg" class="card-img-top img-thumbnail" alt="...">
                            <div class="card-body text-light">
                              <p class="card-text">Web development is the building and maintenance of websites it's the work that happens..</p>
                            </div>
                          </div>
                      </div>
                      <div class="col-md-4 mt-5">
                        <div class="card bg-dark" style="width: 18rem;">
                            <img src="assets/images/services/app.jpg" class="card-img-top img-thumbnail" alt="...">
                            <div class="card-body text-light">
                              <p class="card-text">With the world going mobile, the importance of apps is increasing day by day. App development hence refers..</p>
                            </div>
                          </div>
                      </div>
                      <div class="col-md-4 mt-5">
                        <div class="card bg-dark" style="width: 18rem;">
                            <img src="assets/images/services/wordpress.jpg" class="card-img-top img-thumbnail" alt="...">
                            <div class="card-body text-light">
                              <p class="card-text">WordPress is an open source content management system software used to make pixel perfect websites...</p>
                            </div>
                          </div>
                      </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4 mb-5">
                      <div class="card bg-dark" style="width: 18rem;">
                          <img src="assets/images/services/software.jpg" class="card-img-top img-thumbnail" alt="...">
                          <div class="card-body text-light">
                            <p class="card-text">Software development the main activity of software construction is the combination of programming verification...</p>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                      <div class="card bg-dark" style="width: 18rem;">
                          <img src="assets/images/services/digital.jpg" class="card-img-top img-thumbnail" alt="...">
                          <div class="card-body text-light">
                            <p class="card-text">It is a long established fact that a reader will be distracted by the readable content...</p>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                      <div class="card bg-dark" style="width: 18rem;">
                          <img src="assets/images/services/graphic.jpg" class="card-img-top img-thumbnail" alt="...">
                          <div class="card-body text-light">
                            <p class="card-text">Web development is the building and maintenance of websites it's the work that happens..</p>
                          </div>
                        </div>
                    </div>
                </div>

              </div>
          </section>
          

          <!-- featured image  -->
   <footer>
    <section id="">
      <div class="featured-image text-center">
        <p class="featured-image-p">We are featured on:</p>
        <img src="assets/images/services/Featured-logo.webp" alt="" class="featured-img">
      </div>
    </section>

    <!-- End featured image  -->
      <section id="links">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <p class="links-p">Our Services</p>
              <div class="list-group">
                <a href="#" class="mb-1">Clipping Path Service</a>
                <a href="#" class="mb-1">Multi Clipping Path Service</a>
                <a href="#" class="mb-1">Background Removal Service</a>
                <a href="#" class="mb-1">Color Correction service</a>
                <a href="#" class="mb-1">Image Masking Service</a>
                <a href="#" class="mb-1">Ghost Mannequin Service</a>
                <a href="#" class="mb-1">Photo Retouching Service</a>
                <a href="#" class="mb-1">Drop Shadow Service</a>
                <a href="#" class="mb-1">Car Image Editing</a>
                <a href="#" class="mb-1">E-commerce Photo Editing</a>
                <a href="#" class="mb-1">Banner Design</a>
                <a href="#" class="mb-1">Business Card Design</a>
                <a href="#" class="mb-1">Vector Conversion Service</a>
                <a href="#" class="mb-1">Jewelry Photo Editing Services</a>
              </div>
            </div>

            <div class="col-md-4">
              <p class="links-p">Useful Links</p>
              <div class="list-group">
                <a href="#" class="mb-1">About Us</a>
                <a href="#" class="mb-1">Contact Us</a>
                <a href="#" class="mb-1">My Account</a>
                <a href="#" class="mb-1">File Uploads</a>
                <a href="#" class="mb-1">Faqs</a>
                <a href="#" class="mb-1">Privacy Policy</a>
                <a href="#" class="mb-1">Terms and Conditions</a>
                <a href="#" class="mb-1">Affiliate Disclosure</a>
                <a href="#" class="mb-1">Write For Us</a>
                <a href="#" class="mb-1">Clipping Path Creative Reviews</a>
                <img src="assets/images/services/stripe-badge-white.webp" alt="">
              </div>
            </div>

            <div class="col-md-4">
              <p class="links-p">Recent posts</p>
              <div class="list-group list-group-2">
                <a href="#" class="mb-1">Amazon Product Photography Tips Basic to Advanced
                  <hr>
                  <i class="fa-solid fa-clock text-primary"></i> <span class="text-primary">March 2, 2022</span>
                </a>
                <a href="#" class="mb-1">What is Corporate photography?
                  <hr>
                  <i class="fa-solid fa-clock text-primary"></i> <span class="text-primary">March 2, 2022</span>
                </a>
                <a href="#" class="mb-1">Most Beautiful Places To Take Photographs in Dubai
                  <hr>
                  <i class="fa-solid fa-clock text-primary"></i> <span class="text-primary">March 2, 2022</span>
                </a>
                <a href="#" class="mb-1">Top 6 Wedding Photography Themes For WordPress 2021
                  <hr>
                  <i class="fa-solid fa-clock text-primary"></i> <span class="text-primary">March 2, 2022</span>
                </a>
                <a href="#" class="mb-1">How To Capture Eye-Catching Corporate Shots
                  <hr>
                  <i class="fa-solid fa-clock text-primary"></i> <span class="text-primary">March 2, 2022</span>
                </a>
                <a href="#" class="mb-1">Outdoor Flash Photography Tips with Pets
                  <hr>
                  <i class="fa-solid fa-clock text-primary"></i> <span class="text-primary">March 2, 2022</span>
                </a>
                <a href="#" class="mb-1">Photo Editing Tips for Shutterbugs to Make their Photographs Stunning
                  <hr>
                  <i class="fa-solid fa-clock text-primary"></i> <span class="text-primary">March 2, 2022</span>
                </a>
                
              </div>
            </div>
          </div>
          <hr style="height: 1px; background:grey;">
          <p class="text-center text-light" style="font-size: 20px;">&copy; 2022 All Right Reserved by <a href="#" class="text-primary"> Kaizen It LTD. </a></p>
          <p class="text-center text-light" style="font-size: 20px;">Company Registration: 13897274. To verify please <a href="#" class="text-primary"> Click here. </a></p>
          <div class="template-demo text-center">
            <button type="button" class="btn btn-social-icon btn-rounded"><i class="fa-brands fa-facebook"></i></button>
            <button type="button" class="btn btn-social-icon btn-rounded"><i class="fa-brands fa-youtube"></i></button>                                        
            <button type="button" class="btn btn-social-icon btn-rounded"><i class="fa-brands fa-twitter"></i></button>
            <button type="button" class="btn btn-social-icon btn-rounded"><i class="fa-brands fa-dribbble"></i></button>
            <button type="button" class="btn btn-social-icon btn-rounded"><i class="fa-brands fa-linkedin"></i></button>
            <button type="button" class="btn btn-social-icon btn-rounded"><i class="fa-brands fa-instagram"></i></button>
          </div>
          <a href="#header-services" class="position-fixed bottom-0 end-0 text-warning p-5 scroll">
            <i class="fa-solid fa-chevron-up"></i>
        </a>
        </div>

      </section>
   </footer>
      </main>
  
  <!--Main layout-->


  
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
   <script>
      $(document).ready(function(){
         var scrollLink = $(".scroll");
 
         scrollLink.click(function(e){
             e.preventDefault();
             $("body, html").animate({
                 scrollTop: $(this.hash).offset().top
             },2000)
         });
     });
 </script>
 </body>
 </html>